.table {
  display: none;
  margin: auto;
  border-collapse: separate;
  max-width: fit-content;
}

th {
  background-color: #ccb1c1;
  height: 20px;
  border-collapse: collapse;
}

td {
  background-color: white;
  /* border: 1px solid black ; */
  height: 20px;
  border-collapse: collapse;
}

.table.table_on {
  display: block;
}

table {
  width: 730px;
}